# 1. Игнорировать абсолютно всё
*

# 2. Сделать исключение для самого файла .gitignore (рекомендуется)
!.gitignore

# 3. Сделать исключения для ваших файлов
!main_window.py
!mdbconverter.py
!README.md
!super.jpg
